<!DOCTYPE html>
<html>
    <head>
        <title>Shopping List</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Shopping List</h1>
        <form method="post">
            <input type="text" name="item" placeholder="Add item">
            <button type="submit">Add</button>
        </form>
        <h2>Items:</h2>
        <ul>
            {% for item in items %}
                <li>{{ item['item'] }}</li>  <!-- Access item name using dictionary-like syntax -->
            {% endfor %}
        </ul>
    </body>
</html>